body{
    margin: 0%;
    background-attachment: fixed;
    background-color: rgb(32, 32, 32);
}

#titleCard{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

#programName{
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

#pageOneButton{
    position: relative;
    background-color: rgb(60, 60, 60);
    border-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 120%;
    top: 45%;
    left: 33%;
}

#pageOneButton:hover{
    border-color: rgb(0, 0, 255);
}